<h1 class = "text-center">Employees</h1>
<span>
  <%= button_to "Add Employee", new_admin_employee_path , method: :get, class: "btn btn-secondary" %> 
</span>
<table class="table">
  <thead>
    <tr>
      <th scope="col">S.No.</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Post</th>
      <th scope="col">Role</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <%i = 1%>
  <% @employees.each do |employee| %>
  <tbody>
    <tr>
      <th scope="row"><%= i %></th>
      <td><%= employee.name %></td>
      <td><%= employee.email %></td>
      <td><%= employee.post %></td>
      <td><%= employee.roles.first.name%></td>
      <th><a href="/admin/employees/<%=employee.id%>" class="link-dark">View</a></th>
      <th><%= button_to "Delete", admin_employee_path(employee.id), method: :delete, class: "btn btn-secondary" %></th>
    </tr>
  </tbody>
  <% i += 1 %>
<% end %>
</table>



