<h1 class = "text-center">Issues</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">S.No.</th>
      <th scope="col">Employee Name</th>
      <th scope="col">Issue</th>
      <th scope="col">Description</th>
      <th scope="col">Priority</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <%i = 1%>
  <% @issues.each do |issue| %>
  <tbody>
    <tr>
      <th scope="row"><%= i %></th>
      <td><%= issue.employee.name %></td>
      <td><%= issue.subject %></td>
      <td><%= issue.description %></td>
      <td><%= issue.priority %></td>
      <th><a href="/hr/issues/<%=issue.id%>" class="link-dark">View</a></th>
      <td><%= button_to "Delete", hr_issue_path(issue.id), method: :delete, class: "btn btn-secondary" %></td>
    </tr>
  </tbody>
  <% i += 1 %>
<% end %>
</table>
